ELT/Flows/FLUXO_ELT.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>d4141ea7-0189-1000-5721-d2316608fafb</groupId>
    <name>FLUXO_ELT</name>
    <snippet>
        <controllerServices>
            <id>0553aba2-7829-32eb-0000-000000000000</id>
            <parentGroupId>3a3b72bd-8cc2-3c97-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>8f967731-79eb-3265-0000-000000000000</id>
            <parentGroupId>3a3b72bd-8cc2-3c97-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>ERP - Database</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://erp-database:3306/db_erp</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.mysql.cj.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi/nifi-current/jdbc/mysql-connector-j-8.0.31.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>root</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>SELECT 1;</value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>ab8dc47b-8066-3e43-0000-000000000000</id>
            <parentGroupId>3a3b72bd-8cc2-3c97-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-elasticsearch-client-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>
                        <name>el-cs-http-hosts</name>
                    </value>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>
                        <name>authorization-scheme</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-username</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-password</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key-id</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key-id</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>el-cs-ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                        <name>proxy-configuration-service</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>
                        <name>el-cs-connect-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>
                        <name>el-cs-socket-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>
                        <name>el-cs-retry-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>
                        <name>el-cs-charset</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>
                        <name>el-cs-suppress-nulls</name>
                    </value>
                </entry>
            </descriptors>
            <name>ElasticSearchClientServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>http://elasticsearch:9200</value>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>BASIC</value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>elastic</value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                </entry>
                <entry>
                    <key>api-key-id</key>
                </entry>
                <entry>
                    <key>api-key</key>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>5000</value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>always-suppress</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl</type>
        </controllerServices>
        <processGroups>
            <id>5b3bf985-a2d5-3d8a-0000-000000000000</id>
            <parentGroupId>3a3b72bd-8cc2-3c97-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <processGroups>
                    <id>e64dd7cf-c813-3260-0000-000000000000</id>
                    <parentGroupId>5b3bf985-a2d5-3d8a-0000-000000000000</parentGroupId>
                    <position>
                        <x>397.0</x>
                        <y>144.0</y>
                    </position>
                    <versionedComponentId>8748ff33-c19b-375b-8238-5b98da92101a</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>10a35f87-e741-3ac7-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <versionedComponentId>1de167a3-e413-33ef-bf24-b8079bc04789</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>22c574f6-8c4b-3761-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>7fd6efc7-f347-356b-8068-c3dd32f5b457</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>abf0d552-d1fd-3610-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6730cb44-ffeb-313f-b13b-57d180ee4a25</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>189cd5ee-2a58-31b9-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <versionedComponentId>484cda20-3e0f-3f88-9a80-a69d00b00771</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>03032b2e-82af-3e2e-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>6e038e30-2111-3cba-b605-f27b947fe6e2</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>7a3a639e-aec3-33fa-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6993b3b3-d261-3d93-8a5b-46c8fa2fe015</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2c7e2256-165c-32c0-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <versionedComponentId>375850fe-8a5f-3485-bd41-0a827f8470c5</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>9b516c5a-9db1-39c5-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>fd2aa93e-b05b-35fc-8a72-5bca9bc569fa</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>44a22530-e1a2-3a32-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>442608b9-058b-31f5-80ca-be6168bd58c5</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>60ee1760-bc92-308c-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <versionedComponentId>ca8676a1-108e-3ffb-9d23-9939dd7fd058</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>7a3a639e-aec3-33fa-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6993b3b3-d261-3d93-8a5b-46c8fa2fe015</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>2335dd39-8c07-3cbc-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>cd881ff5-23d5-3edf-a330-9de21021d103</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>685bfe7f-1f41-3242-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <versionedComponentId>7ab130fa-b973-3b46-9c43-3c42247455f2</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>05ba66b6-23e3-3284-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9eb46bfc-130a-3c6a-beb6-d704d309c282</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>7a3a639e-aec3-33fa-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6993b3b3-d261-3d93-8a5b-46c8fa2fe015</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a66e5290-d5f1-3f1c-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <versionedComponentId>25209407-1b58-31a8-8b43-32b4e4e373c7</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>44a22530-e1a2-3a32-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>442608b9-058b-31f5-80ca-be6168bd58c5</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>7a3a639e-aec3-33fa-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6993b3b3-d261-3d93-8a5b-46c8fa2fe015</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>af366164-d2d6-3562-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <versionedComponentId>b1033415-6fe1-3fb0-af7c-610ec7e77c18</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>abf0d552-d1fd-3610-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6730cb44-ffeb-313f-b13b-57d180ee4a25</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>05ba66b6-23e3-3284-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9eb46bfc-130a-3c6a-beb6-d704d309c282</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b0a0202c-5a0f-3057-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <versionedComponentId>7b293547-981d-3971-b32a-96d9faf47648</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>7a3a639e-aec3-33fa-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6993b3b3-d261-3d93-8a5b-46c8fa2fe015</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>9b516c5a-9db1-39c5-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>fd2aa93e-b05b-35fc-8a72-5bca9bc569fa</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bfa0132d-cdbb-3686-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <versionedComponentId>9eb08a90-e853-3755-96fd-c1800c270034</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>a47c9784-0167-31d1-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>59a3790c-b863-38e2-82aa-cfe0c3171548</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>05ba66b6-23e3-3284-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9eb46bfc-130a-3c6a-beb6-d704d309c282</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>cabfe1e9-e439-36fb-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <versionedComponentId>e6be1c2d-b729-3d4b-8214-8e4d20ac3ef0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>296.0</x>
<y>912.0</y>
                            </bends>
                            <bends>
<x>304.0</x>
<y>920.0</y>
                            </bends>
                            <destination>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>abf0d552-d1fd-3610-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6730cb44-ffeb-313f-b13b-57d180ee4a25</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>e64dd7cf-c813-3260-0000-000000000000</groupId>
<id>abf0d552-d1fd-3610-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6730cb44-ffeb-313f-b13b-57d180ee4a25</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>03032b2e-82af-3e2e-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <position>
<x>1096.0</x>
<y>424.0</y>
                            </position>
                            <versionedComponentId>6e038e30-2111-3cba-b605-f27b947fe6e2</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>22c574f6-8c4b-3761-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <position>
<x>1112.0</x>
<y>888.0</y>
                            </position>
                            <versionedComponentId>7fd6efc7-f347-356b-8068-c3dd32f5b457</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>9b516c5a-9db1-39c5-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <position>
<x>16.0</x>
<y>216.0</y>
                            </position>
                            <versionedComponentId>fd2aa93e-b05b-35fc-8a72-5bca9bc569fa</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>a47c9784-0167-31d1-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <position>
<x>1104.0</x>
<y>648.0</y>
                            </position>
                            <versionedComponentId>59a3790c-b863-38e2-82aa-cfe0c3171548</versionedComponentId>
                        </funnels>
                        <labels>
                            <id>f0025b26-c29d-354c-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <position>
<x>184.0</x>
<y>168.0</y>
                            </position>
                            <versionedComponentId>c9987075-a603-3e09-91eb-ec2f9d32522b</versionedComponentId>
                            <height>48.0</height>
                            <label>FLUXO ELT - CLIENTES</label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#2086d9</value>
</entry>
<entry>
    <key>font-size</key>
    <value>24px</value>
</entry>
                            </style>
                            <width>272.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <processors>
                            <id>05ba66b6-23e3-3284-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <position>
<x>504.0</x>
<y>624.0</y>
                            </position>
                            <versionedComponentId>9eb46bfc-130a-3c6a-beb6-d704d309c282</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>$.*</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>the string 'null'</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SEPARA REGISTROS DA QUERY</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                        <processors>
                            <id>2335dd39-8c07-3cbc-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <position>
<x>504.0</x>
<y>144.0</y>
                            </position>
                            <versionedComponentId>cd881ff5-23d5-3edf-a330-9de21021d103</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
    <entry>
        <key>clausula_where_flow</key>
        <value>
            <name>clausula_where_flow</name>
        </value>
    </entry>
    <entry>
        <key>numero_execucao_flow</key>
        <value>
            <name>numero_execucao_flow</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
    <entry>
        <key>clausula_where_flow</key>
        <value>WHERE id &gt;= False</value>
    </entry>
    <entry>
        <key>numero_execucao_flow</key>
        <value>1</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EXECUTOR DO FLOW (EXECUTA UM VEZ)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>44a22530-e1a2-3a32-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <position>
<x>-136.0</x>
<y>384.0</y>
                            </position>
                            <versionedComponentId>442608b9-058b-31f5-80ca-be6168bd58c5</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>clausula_where_flow</key>
        <value>
            <name>clausula_where_flow</name>
        </value>
    </entry>
    <entry>
        <key>numero_execucao_flow</key>
        <value>
            <name>numero_execucao_flow</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>clausula_where_flow</key>
        <value>${numero_execucao_flow:plus(1):gt(1):ifElse('WHERE datahora &gt;= NOW() - INTERVAL 5 MINUTE', 'WHERE id &gt;= False')}</value>
    </entry>
    <entry>
        <key>numero_execucao_flow</key>
        <value>${numero_execucao_flow:plus(1)}</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>300 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>REEXECUTOR DO FLOW </name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>7a3a639e-aec3-33fa-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <position>
<x>504.0</x>
<y>384.0</y>
                            </position>
                            <versionedComponentId>6993b3b3-d261-3d93-8a5b-46c8fa2fe015</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>esqlrecord-record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>esqlrecord-record-writer</name>
        </value>
    </entry>
    <entry>
        <key>esqlrecord-normalize</key>
        <value>
            <name>esqlrecord-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>
            <name>esql-fetch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>
            <name>esql-auto-commit</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>8f967731-79eb-3265-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>SELECT
	id,
	nome ,
	sobrenome,
	email,
	telefone,
	DATE_FORMAT(data_nascimento, '%Y-%m-%d') data_nascimento,
	cidade,
	estado,
	pais,
	codigo_pais,
	DATE_FORMAT(datahora, '%Y-%m-%d %H:%i:%s') datahora
FROM db_erp.clientes
${clausula_where_flow}
ORDER BY id;</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>esqlrecord-record-writer</key>
        <value>0553aba2-7829-32eb-0000-000000000000</value>
    </entry>
    <entry>
        <key>esqlrecord-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EXECUTA QUERY DE CLIENTES</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteSQLRecord</type>
                        </processors>
                        <processors>
                            <id>abf0d552-d1fd-3610-0000-000000000000</id>
                            <parentGroupId>e64dd7cf-c813-3260-0000-000000000000</parentGroupId>
                            <position>
<x>504.0</x>
<y>856.0</y>
                            </position>
                            <versionedComponentId>6730cb44-ffeb-313f-b13b-57d180ee4a25</versionedComponentId>
                            <bundle>
<artifact>nifi-elasticsearch-restapi-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>put-es-json-id-attr</key>
        <value>
            <name>put-es-json-id-attr</name>
        </value>
    </entry>
    <entry>
        <key>put-es-record-index-op</key>
        <value>
            <name>put-es-record-index-op</name>
        </value>
    </entry>
    <entry>
        <key>el-rest-fetch-index</key>
        <value>
            <name>el-rest-fetch-index</name>
        </value>
    </entry>
    <entry>
        <key>el-rest-type</key>
        <value>
            <name>el-rest-type</name>
        </value>
    </entry>
    <entry>
        <key>put-es-record-batch-size</key>
        <value>
            <name>put-es-record-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>put-es-json-charset</key>
        <value>
            <name>put-es-json-charset</name>
        </value>
    </entry>
    <entry>
        <key>el-rest-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
            <name>el-rest-client-service</name>
        </value>
    </entry>
    <entry>
        <key>put-es-record-log-error-responses</key>
        <value>
            <name>put-es-record-log-error-responses</name>
        </value>
    </entry>
    <entry>
        <key>put-es-json-error-documents</key>
        <value>
            <name>put-es-json-error-documents</name>
        </value>
    </entry>
    <entry>
        <key>put-es-json-not_found-is-error</key>
        <value>
            <dependencies>
                <dependentValues>true</dependentValues>
                <propertyName>put-es-json-error-documents</propertyName>
            </dependencies>
            <name>put-es-json-not_found-is-error</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>put-es-json-id-attr</key>
        <value>id</value>
    </entry>
    <entry>
        <key>put-es-record-index-op</key>
        <value>index</value>
    </entry>
    <entry>
        <key>el-rest-fetch-index</key>
        <value>clientes</value>
    </entry>
    <entry>
        <key>el-rest-type</key>
    </entry>
    <entry>
        <key>put-es-record-batch-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>put-es-json-charset</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>el-rest-client-service</key>
        <value>ab8dc47b-8066-3e43-0000-000000000000</value>
    </entry>
    <entry>
        <key>put-es-record-log-error-responses</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-es-json-error-documents</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-es-json-not_found-is-error</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GRAVA NO ELASTICSEARCH</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>errors</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchJson</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>FLUXO ELT - CLIENTES</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>e73aff10-345c-3ebf-0000-000000000000</id>
                    <parentGroupId>5b3bf985-a2d5-3d8a-0000-000000000000</parentGroupId>
                    <position>
                        <x>400.0</x>
                        <y>344.0</y>
                    </position>
                    <versionedComponentId>c3c2c583-86f3-358d-886c-818be398d5ec</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>34801480-6586-3f26-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <versionedComponentId>e3cb875a-92d6-32db-ab6b-f4f3caad0b3f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>4711c72e-7ea4-3192-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e8fc2a72-4147-3e0c-b87d-7da5b04605aa</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>dd2c078a-5c06-3273-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d40aa5b8-26cf-34d3-a010-7b3a50fa2cd0</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3bd3466b-05c9-3f2b-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <versionedComponentId>23b615c9-4b16-32e0-aa9c-c85589585875</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>9692076e-c0af-3e0f-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>bf908938-bc5f-32a7-a4ab-32bd12e090e6</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>e4d36afc-7e9e-3f10-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c8c9ba48-a53a-3698-bf3b-971378025876</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>48dec9ac-e813-3159-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <versionedComponentId>3c95820f-a2ba-33f0-ad96-471a93f28e54</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>dd2c078a-5c06-3273-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d40aa5b8-26cf-34d3-a010-7b3a50fa2cd0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>e5f8acf6-1125-3736-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>17fed259-8e29-33b7-aa4f-f90e5184752d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5c122b28-862b-3d59-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <versionedComponentId>a29333a9-68aa-3243-a900-a42642da6b0f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>cb02b544-8144-34e6-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>13ed47fa-0228-3c94-be56-25a7ebf68af8</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>dd2c078a-5c06-3273-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d40aa5b8-26cf-34d3-a010-7b3a50fa2cd0</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7f7e87ff-e13f-316c-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <versionedComponentId>6f6ef602-2cfa-3a75-afa5-3fc9d9b655c7</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>54ee4caa-70d7-3a79-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>54a158b3-8480-3bed-8cd6-9ad9d893d741</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>4711c72e-7ea4-3192-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e8fc2a72-4147-3e0c-b87d-7da5b04605aa</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7fd5b4ba-704d-373a-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <versionedComponentId>be48befb-85de-34ef-9dec-af5ff6ea9cd3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>296.0</x>
<y>912.0</y>
                            </bends>
                            <bends>
<x>304.0</x>
<y>920.0</y>
                            </bends>
                            <destination>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>4711c72e-7ea4-3192-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e8fc2a72-4147-3e0c-b87d-7da5b04605aa</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>4711c72e-7ea4-3192-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e8fc2a72-4147-3e0c-b87d-7da5b04605aa</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8a8daa74-5e20-37d9-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <versionedComponentId>4f2d40e9-7eb6-309d-8b7f-a7004ffee282</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>e5f8acf6-1125-3736-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>17fed259-8e29-33b7-aa4f-f90e5184752d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>9692076e-c0af-3e0f-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>bf908938-bc5f-32a7-a4ab-32bd12e090e6</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8db3b3b3-e348-3904-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <versionedComponentId>26ac94f6-9123-3f4a-a8b1-5cd0816b0a64</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>e4d36afc-7e9e-3f10-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c8c9ba48-a53a-3698-bf3b-971378025876</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>e5f8acf6-1125-3736-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>17fed259-8e29-33b7-aa4f-f90e5184752d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>929c0f96-6feb-3515-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <versionedComponentId>a61b43ca-b5fb-307b-bc7e-25f316dccec4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>e5f8acf6-1125-3736-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>17fed259-8e29-33b7-aa4f-f90e5184752d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>edf956ef-4e75-350b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2c74432f-cdee-3132-8976-719da7e8812e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>dabd1d64-d418-398b-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <versionedComponentId>fa4069b0-c6ed-3197-a35d-a41dfd2f2bbd</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>24a1977c-2348-322f-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>8ce26dbc-9b3f-3255-9c35-6b1dcbfab52c</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>e73aff10-345c-3ebf-0000-000000000000</groupId>
<id>e5f8acf6-1125-3736-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>17fed259-8e29-33b7-aa4f-f90e5184752d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>24a1977c-2348-322f-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <position>
<x>1096.0</x>
<y>424.0</y>
                            </position>
                            <versionedComponentId>8ce26dbc-9b3f-3255-9c35-6b1dcbfab52c</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>54ee4caa-70d7-3a79-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <position>
<x>1112.0</x>
<y>888.0</y>
                            </position>
                            <versionedComponentId>54a158b3-8480-3bed-8cd6-9ad9d893d741</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>9692076e-c0af-3e0f-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <position>
<x>16.0</x>
<y>216.0</y>
                            </position>
                            <versionedComponentId>bf908938-bc5f-32a7-a4ab-32bd12e090e6</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>cb02b544-8144-34e6-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <position>
<x>1104.0</x>
<y>648.0</y>
                            </position>
                            <versionedComponentId>13ed47fa-0228-3c94-be56-25a7ebf68af8</versionedComponentId>
                        </funnels>
                        <labels>
                            <id>e8e068f4-687e-341e-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <position>
<x>184.0</x>
<y>168.0</y>
                            </position>
                            <versionedComponentId>8f7aed20-a615-31a8-a812-a870b1d11535</versionedComponentId>
                            <height>48.0</height>
                            <label>FLUXO ELT - VENDAS</label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#2086d9</value>
</entry>
<entry>
    <key>font-size</key>
    <value>24px</value>
</entry>
                            </style>
                            <width>272.0</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <processors>
                            <id>4711c72e-7ea4-3192-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <position>
<x>504.0</x>
<y>856.0</y>
                            </position>
                            <versionedComponentId>e8fc2a72-4147-3e0c-b87d-7da5b04605aa</versionedComponentId>
                            <bundle>
<artifact>nifi-elasticsearch-restapi-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>put-es-json-id-attr</key>
        <value>
            <name>put-es-json-id-attr</name>
        </value>
    </entry>
    <entry>
        <key>put-es-record-index-op</key>
        <value>
            <name>put-es-record-index-op</name>
        </value>
    </entry>
    <entry>
        <key>el-rest-fetch-index</key>
        <value>
            <name>el-rest-fetch-index</name>
        </value>
    </entry>
    <entry>
        <key>el-rest-type</key>
        <value>
            <name>el-rest-type</name>
        </value>
    </entry>
    <entry>
        <key>put-es-record-batch-size</key>
        <value>
            <name>put-es-record-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>put-es-json-charset</key>
        <value>
            <name>put-es-json-charset</name>
        </value>
    </entry>
    <entry>
        <key>el-rest-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
            <name>el-rest-client-service</name>
        </value>
    </entry>
    <entry>
        <key>put-es-record-log-error-responses</key>
        <value>
            <name>put-es-record-log-error-responses</name>
        </value>
    </entry>
    <entry>
        <key>put-es-json-error-documents</key>
        <value>
            <name>put-es-json-error-documents</name>
        </value>
    </entry>
    <entry>
        <key>put-es-json-not_found-is-error</key>
        <value>
            <dependencies>
                <dependentValues>true</dependentValues>
                <propertyName>put-es-json-error-documents</propertyName>
            </dependencies>
            <name>put-es-json-not_found-is-error</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>put-es-json-id-attr</key>
        <value>id</value>
    </entry>
    <entry>
        <key>put-es-record-index-op</key>
        <value>index</value>
    </entry>
    <entry>
        <key>el-rest-fetch-index</key>
        <value>vendas</value>
    </entry>
    <entry>
        <key>el-rest-type</key>
    </entry>
    <entry>
        <key>put-es-record-batch-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>put-es-json-charset</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>el-rest-client-service</key>
        <value>ab8dc47b-8066-3e43-0000-000000000000</value>
    </entry>
    <entry>
        <key>put-es-record-log-error-responses</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-es-json-error-documents</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-es-json-not_found-is-error</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GRAVA NO ELASTICSEARCH</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>errors</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchJson</type>
                        </processors>
                        <processors>
                            <id>dd2c078a-5c06-3273-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <position>
<x>504.0</x>
<y>624.0</y>
                            </position>
                            <versionedComponentId>d40aa5b8-26cf-34d3-a010-7b3a50fa2cd0</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>$.*</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>the string 'null'</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SEPARA REGISTROS DA QUERY</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                        <processors>
                            <id>e4d36afc-7e9e-3f10-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <position>
<x>-136.0</x>
<y>384.0</y>
                            </position>
                            <versionedComponentId>c8c9ba48-a53a-3698-bf3b-971378025876</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>clausula_where_flow</key>
        <value>
            <name>clausula_where_flow</name>
        </value>
    </entry>
    <entry>
        <key>numero_execucao_flow</key>
        <value>
            <name>numero_execucao_flow</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>clausula_where_flow</key>
        <value>${numero_execucao_flow:plus(1):gt(1):ifElse('WHERE datahora &gt;= NOW() - INTERVAL 5 MINUTE', 'WHERE id &gt;= False')}</value>
    </entry>
    <entry>
        <key>numero_execucao_flow</key>
        <value>${numero_execucao_flow:plus(1)}</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>300 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>REEXECUTOR DO FLOW </name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>e5f8acf6-1125-3736-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <position>
<x>504.0</x>
<y>384.0</y>
                            </position>
                            <versionedComponentId>17fed259-8e29-33b7-aa4f-f90e5184752d</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>esqlrecord-record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>esqlrecord-record-writer</name>
        </value>
    </entry>
    <entry>
        <key>esqlrecord-normalize</key>
        <value>
            <name>esqlrecord-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>
            <name>esql-fetch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>
            <name>esql-auto-commit</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>8f967731-79eb-3265-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>SELECT
	id,
	produto,
	DATE_FORMAT(data_compra, '%Y-%m-%d') data_compra,
	tipo_cartao,
	numero_cartao,
	quantidade,
	valor,
	DATE_FORMAT(datahora, '%Y-%m-%d %H:%i:%s') datahora
FROM db_erp.vendas
${clausula_where_flow}
ORDER BY id;</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>esqlrecord-record-writer</key>
        <value>0553aba2-7829-32eb-0000-000000000000</value>
    </entry>
    <entry>
        <key>esqlrecord-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EXECUTA QUERY DE VENDAS</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteSQLRecord</type>
                        </processors>
                        <processors>
                            <id>edf956ef-4e75-350b-0000-000000000000</id>
                            <parentGroupId>e73aff10-345c-3ebf-0000-000000000000</parentGroupId>
                            <position>
<x>504.0</x>
<y>144.0</y>
                            </position>
                            <versionedComponentId>2c74432f-cdee-3132-8976-719da7e8812e</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
    <entry>
        <key>clausula_where_flow</key>
        <value>
            <name>clausula_where_flow</name>
        </value>
    </entry>
    <entry>
        <key>numero_execucao_flow</key>
        <value>
            <name>numero_execucao_flow</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
    <entry>
        <key>clausula_where_flow</key>
        <value>WHERE id &gt;= False</value>
    </entry>
    <entry>
        <key>numero_execucao_flow</key>
        <value>1</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EXECUTOR DO FLOW (EXECUTA UM VEZ)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>FLUXO ELT - VENDAS</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>FLUXO ELT</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>08/08/2023 08:36:41 UTC</timestamp>
</template>
